header{
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;


    background-color: black;

}

nav{
    width: 100%;
    height: 50px;

    background-color: white;
    margin-top: 100px;
    position: fixed;

    top: 100px;
    left: 0;
}

article{
    background-color: lightgray;
    margin-top: 150px;
    margin-left: 15%;

    top: 150px;
    left: 0;

    width: 80%;
    height: 100%;

}

aside{
    background-color: gray;
    position: fixed;

    top: 150px;
    left: 0;

    width: 20%;
    height: 100%;

}

footer{
    background-color: lightsteelblue;
    position: fixed;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 50px;
}