h1 {
    background-color: lightblue;
    color:black;

}

p {
    font-family: Century Gothic, sans-serif;
    font-size: 16px;
    color: blue;
    line-height: 1.5;
    text-align: justify;
}

#parrafo1 {
    font-weight: bold;
    color: lightcoral
}

#parrafo2 {
    font-style: italic;
    color: lightseagreen
}

.grupoparrafos {
    margin-bottom: 20px;
    color: lightslategrey
}

h1:hover {
    color: grey;
}